{{!--
    types:
    - feature: top of each page
    - snippet: text icon pair
    - cards
--}}
<div class="hero {{ classes }}" {{#if heroId }}id="{{ heroId }}"{{/if }} data-type="{{ type }}" data-size="{{ size }}">
    <div class="wrapper">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell text-cell">
                    <div class="text-container">
                        {{#if caption }}
                            <h2 class="caption">{{ caption }}</h2>
                        {{/if }}
                        {{#if subcaption }}
                            <h4 class="subcaption">{{ subcaption }}</h4>
                        {{/if }}
                        {{#if blurb }}
                            <p class="blurb">{{ blurb }}</p>
                        {{/if }}
                    </div>
                </div>

                {{#if featureImagePath }}
                    <div class="cell image-cell">
                        <div class="image-container" style="background-image: url('{{ featureImagePath }}');"></div>
                    </div>
                {{/if }}

            </div>
        </div>
    </div>
</div>
